/* HEADER */

header .top-bar {
	background-color: #2d2d2d;
	color: #fff;
	height: 3.5rem;
}

header .top-bar .title-area {
	height: 3.5rem;
}

header .top-bar-section li:not(.has-form) a:not(.button) {
	background-color: #2d2d2d;
	font-family: Lato;
	line-height: 2rem;
}

header .top-bar-section li:not(.has-form) a:not(.button):hover {
	background-color: #99e1d9;
	transition: .25s;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
	line-height: 2rem;
	background-color: #5d576b;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
	background-color: #99e1d9;
	transition: .25s;
}

.top-bar-section .right .divider {
	border-right: none;
}

header img {
	height: 70%;
	position: relative;
	transform: translate(-50%,-50%);
	top: 60%;
	left: 6.75rem;
}

@media screen and (min-width: 40em) {

	header .top-bar-section li:not(.has-form) a:not(.button) {
		height: 3.5rem;
		line-height: 3.5rem;
	}

	.top-bar-section li.active:not(.has-form) a:not(.button) {
		height: 3.5rem;
		line-height: 3.5rem;
	}

}

/* BREADCRUMBS */

.nav-breadcrumbs {
	font-family: Lato;
}

.nav-breadcrumbs .breadcrumbs {
	background-color: #5d576b;
	padding: 1rem 0 1rem 1.6rem;
	border: none;
	border-radius: 0;
}

.nav-breadcrumbs .breadcrumbs li a {
	color: #fff;
}

ul, ol, dl {
	margin-bottom: 0;
}

/* HOME PAGE */

.home .example-orbit {
	position: relative;
}

.home .example-orbit img {
	width: 100%;
}

.orbit-container .orbit-slides-container > * .orbit-caption {
	height: 35%;
}

.orbit-container:hover .orbit-timer > span {
	display: none;
}

.home .caption {
	position: absolute;
	top: 22.5%;
	right: 5%;
	font-size: 2vw;
	font-family: Lato;
	font-weight: 400;
	color: #99e1d9;
}

.home .caption span {
	color: #fff;
	font-weight: 600;
}

.home a .caption-link {
	position: absolute;
	top: 42.5%;
	right: 5%;
	color: #fff;
	font-family: Ubuntu;
	font-size: 4vw;
	font-weight: 900;
}

.home .caption-link:hover {
	text-decoration: underline;
}

.home .catagories {
	background-color: #99e1d9;
	padding: 8rem 5%;
}

.home .catagories h1 {
	color: #fff;
	font-family: Ubuntu;
	font-weight: 900;
	font-size: 2rem;
}

.home .catagories p {
	color: #fff;
	font-family: Lato;
	font-size: 1rem;
	padding: .5rem 0 1rem;
}

.home .catagories .container {
	border: .5rem #fff solid;
	margin-bottom: 2rem;
}

.home .lyric {
	padding: 20% 0;
	position: relative;
}

.home .lyric h1 {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 7.5%;
	font-family: 'Permanent Marker';
	color: #99e1d9;
	font-size: 6vw;
	line-height: 1.15;
	border-right: 1px dashed #ccc;
	padding: 4% 6% 4% 0;
	width: 42.5%;
}

.home .lyric h2 {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	right: 7.5%;
	font-size: 2vw;
	text-align: right;
	font-family: Ubuntu;
	color: #2d2d2d;
	width: 35%;
}

.home .lyric span {
	font-family: Lato;
	color: #ccc;
	font-size: 1.5vw;
}

.home .tags {
	background-color: #5d576b;
	padding: 8rem 5%;
}

.home .tags h1 {
	font-family: Ubuntu;
	color: #fff;
	font-size: 2rem;
	font-weight: 900;
}

.home .tags p {
	color: #fff;
	font-family: Lato;
	font-size: 1rem;
	padding: .5rem 0 1rem;

}

.home .tags .container {
	border: .5rem #fff solid;
	margin-bottom: 2rem;
}

.home .testimonies {
	background-color: #2d2d2d;
	padding: 5rem 5%;
	border-bottom: 1px dashed #fff;
}

.home .testimonies img {
	border: .25rem #fff solid;
	width: 100%;
}

.home .testimonies .test-heading {
	font-family: Ubuntu;
	color: #fff;
	font-size: 2rem;
	padding-bottom: 2rem;
}

.home .testimonies .profile-name {
	font-family: Lato;
	color: #fff;
	font-size: 1.5rem;
	margin-top: -.5rem;
}

.home .testimonies .review {
	font-family: Lato;
	color: #fff;
	padding-bottom: .75rem;
	font-size: .9rem;
}

.home .testimonies .stars {
	color: #fff;
	font-size: 1.5rem;
	margin-top: -1.5rem;
	padding-bottom: 2rem;
}

.home .testimonies .stars .black-star {
	color: #5d576b;
}

.home main .container {
  	position: relative;
}

.home main .overlay {
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 100%;
  	width: 100%;
  	opacity: 0;
  	transition: .25s ease;
  	background-color: rgba(0, 0, 0, .4);
}

.home main .container:hover .overlay {
  	opacity: 1;
}

.home main .overlay-text p {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	font-family: Lato;
  	color: #fff;
  	font-size: 1.75rem;
}

@media screen and (min-width: 40em) {

	.home .catagories h1 {
		font-size: 3rem;
	}

	.home .catagories p {
		font-size: 1.25rem;
	}

	.home .catagories .container {
		margin-bottom: 0;
	}

	.home .tags h1 {
		font-size: 3rem;
	}

	.home .tags p {
		font-size: 1.25rem;
	}

	.home .tags .container {
		margin-bottom: 0;
	}

	.home .testimonies {
		padding: 5rem;
	}

	.home .testimonies img {
		width: 85%;
	}

	.home .testimonies .test-heading {
		font-size: 2.5rem;
		padding-bottom: 2.5rem;
	}

}

/* CATEGORY PAGES */

.category-page .page-header {
	padding: 3rem 5%;
	background-color: #5d576b;
}

.category-page .heading {
	font-family: 'Ubuntu';
	font-weight: 900;
	color: #fff;
	font-size: 2rem;
}

.category-page .sub-heading {
	color: #fff;
	font-family: Lato;
	font-size: 1rem;
	padding: .5rem 0 0 0;
}

.category-page .background {
	background-color: #f6f6f6;
	padding: 4rem 0;
}

.category-page .content {
	padding: 0 10%;
}

.category-page .panel {
	background-color: #fff;
	padding: .5rem;
	border-radius: 0;
}

.category-page h5 {
	color: #5d576b;
	font-family: Ubuntu;
	font-size: 1.5rem;
}

.category-page h4 {
	color: #5d576b;
	font-family: Ubuntu;
	font-size: 1.5rem;
	font-weight: 900;
}

.category-page h4:hover {
	text-decoration: underline;
}

.category-page .inline-list li a {
	text-decoration: none;
	color: #cbcbcb;
	font-family: Lato;
}

.category-page .inline-list li a:hover {
	color: #5d576b;
	transition: .25s;
}

.category-page .right .cross-out {
	text-decoration: line-through;
	color: #cbcbcb;
	padding-right: .3rem;
}

.category-page main .container {
  	position: relative;
}

.category-page main .overlay {
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 100%;
  	width: 100%;
  	opacity: 0;
  	transition: .25s ease;
  	background-color: rgba(0, 0, 0, .4);
}

.category-page main .container:hover .overlay {
  	opacity: 1;
}

.category-page main .overlay-text p {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: #fff;
  	font-size: 3rem;
}

@media screen and (min-width: 40em) {

	.category-page .heading {
		font-size: 3rem;
	}

	.category-page .sub-heading {
		font-size: 1.25rem;
	}

	.category-page .content {
		padding: 0 5%;
	}

}

@media screen and (min-width: 64em) {

	.category-page .content {
		padding: 0;
	}

}

/* SHOP PAGES */

.shop .page-header {
	padding: 3rem 5%;
	background-color: #5d576b;
}

.shop .heading {
	font-family: 'Ubuntu';
	font-weight: 900;
	color: #fff;
	font-size: 2rem;
}

.shop .sub-heading {
	color: #fff;
	font-family: Lato;
	font-size: 1rem;
	padding: .5rem 0 0 0;
}

.shop .background {
	background-color: #f6f6f6;
	padding: 4rem 0;
}

.shop .content {
	padding: 0 10%;
}

.shop .panel {
	background-color: #fff;
	padding: .5rem;
	border-radius: 0;
}

.shop h5 {
	color: #5d576b;
	font-family: Ubuntu;
	font-size: 1.5rem;
}

.shop h4 {
	color: #5d576b;
	font-family: Ubuntu;
	font-size: 1.5rem;
	font-weight: 900;
}

.shop h4:hover {
	text-decoration: underline;
}

.shop .inline-list li a {
	text-decoration: none;
	color: #cbcbcb;
	font-family: Lato;
}

.shop .inline-list li a:hover {
	color: #5d576b;
	transition: .25s;
}

.shop .right .cross-out {
	text-decoration: line-through;
	color: #cbcbcb;
	padding-right: .3rem;
}

.shop main .container {
  	position: relative;
}

.shop main .overlay {
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 100%;
  	width: 100%;
  	opacity: 0;
  	transition: .25s ease;
  	background-color: rgba(0, 0, 0, .4);
}

.shop main .container:hover .overlay {
  	opacity: 1;
}

.shop main .overlay-text p {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: #fff;
  	font-size: 3rem;
}

@media screen and (min-width: 40em) {

	.shop .heading {
		font-size: 3rem;
	}

	.shop .sub-heading {
		font-size: 1.25rem;
	}

	.shop .content {
		padding: 0 5%;
	}

}

@media screen and (min-width: 64em) {

	.shop .content {
		padding: 0;
	}

}

/* PAGINATION */

.pagination-centered {
	padding-top: 2rem;
	font-family: Ubuntu;
}

.pagination-centered .pagination li a {
	color: #2d2d2d;
	border-radius: 2px;
}

.pagination-centered .pagination a:hover {
	background-color: #99e1d9;
	color: #fff;
	transition: .25s;
}

.pagination-centered .pagination .current a {
	background-color: #5d576b;
}

.pagination-centered .pagination .current a:hover {
	background-color: #99e1d9;
	transition: .25s;
}

/* PRODUCT PAGES */

.product-page main {
	background-color: #f6f6f6;
	padding: 4rem 5%;
}

.product-page main .panel {
	background-color: #fff;
	padding: .5rem;
}

.product-page main .product-title {
	font-family: Ubuntu;
	font-weight: 900;
	font-size: 2.5rem;
	color: #5d576b;
	line-height: 1.15;
	margin-bottom: 1rem;
}

.product-page main .product-price {
	font-family: Lato;
	font-weight: 400;
	color: #cbcbcb;
	font-size: 2rem;
	margin-bottom: 1rem;
}

.product-page main .product-description {
	font-family: Lato;
	margin-bottom: 2rem;
}

.product-page main .product-description span {
	font-style: italic;
}

.product-page main .button {
	font-family: Lato;
	background-color: #5d576b;
	width: 100%;
}

.product-page main .button:hover {
	background-color: #99e1d9;
	transition: .25s;
}

.product-page aside {
	background-color: #5d576b;
	padding: 5rem 5%;
}

.product-page aside h1 {
	color: #fff;
	font-family: Ubuntu;
	font-weight: 900;
	padding-bottom: 2rem;
}

.product-page aside .panel {
	background-color: #fff;
	padding: .5rem;
	border-radius: 0;
}

.product-page aside h5 {
	color: #fff;
	font-family: Ubuntu;
	font-size: 1.5rem;
}

.product-page aside a h4 {
	color: #fff;
	font-family: Ubuntu;
	font-size: 1.5rem;
	font-weight: 900;
}

.product-page aside h4:hover {
	text-decoration: underline;
}

.product-page aside .inline-list li a {
	text-decoration: none;
	color: rgba(255, 255, 255, .3);
	font-family: Lato;
}

.product-page aside .inline-list li a:hover {
	color: #99e1d9;
	transition: .25s;
}

.product-page aside .right .cross-out {
	text-decoration: line-through;
	color: rgba(255, 255, 255, .3);
	padding-right: .3rem;
}

.product-page aside .container {
  	position: relative;
}

.product-page aside .overlay {
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 100%;
  	width: 100%;
  	opacity: 0;
  	transition: .25s ease;
  	background-color: rgba(0, 0, 0, .4);
}

.product-page aside .container:hover .overlay {
  	opacity: 1;
}

.product-page aside .overlay-text p {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: #fff;
  	font-size: 3rem;
}

@media screen and (min-width: 40em) {

	.product-page main .product-title {
		font-size: 3rem;
	}

	.product-page main .product-price {
		font-size: 2.25rem;
	}

}

@media screen and (min-width: 64em) {

	.product-page main .product-title {
		font-size: 3.5rem;
	}

	.product-page main .product-price {
		font-size: 2.5rem;
	}

}

/* CART PAGE */

.cart .page-header {
	padding: 3rem 5%;
	background-color: #5d576b;
}

.cart .heading {
	font-family: 'Ubuntu';
	font-weight: 900;
	color: #fff;
	font-size: 2rem;
}

.cart .background {
	background-color: #f6f6f6;
	padding: 4rem 0;
}

.cart .content {
	padding: 0 10%;
}

.cart .cart-content .panel {
	border-style: none;
	background-color: #f6f6f6;
}

.cart .cart-content img {
	border: .5rem solid #fff;
	outline: 1px solid #d8d8d8;
	margin-bottom: 2rem;
}

.cart .panel h4 a {
	font-family: Ubuntu;
	color: #5d576b;
	font-size: 1.5rem;
	font-weight: 900;
	line-height: 1.25;
	padding-right: 2rem;
}

.cart .cart-checkout {
	margin: 0 5%;
}

.cart .panel h4 a:hover {
	text-decoration: underline;
}

.cart .panel h5 {
	font-family: Ubuntu;
	color: #cbcbcb;
	font-size: 1.5rem;
	padding: .5rem 0 .25rem;
}

.cart .panel p {
	font-family: Lato;
	font-size: 1rem;
	color: #2d2d2d;

}

.cart button.tiny, .cart .button.tiny {
	font-family: Lato;
	background-color: #5d576b;
}

.cart button.tiny:hover, .cart .button.tiny:hover {
	background-color: #99e1d9;
	transition: .25s;
}

.cart .clearfix {
	border: .5rem #fff solid;
	outline: 1px solid #d8d8d8;
}

.cart button.expand, .cart .button.expand {
	font-family: Lato;
	background-color: #5d576b;
}

.cart button.expand:hover, .cart .button.expand:hover {
	background-color: #99e1d9;
	transition: .25s;
}

.cart .button.disabled {
	background-color: #5d576b;
	opacity: 1;
}

.cart .button.disabled:hover {
	background-color: #5d576b;
	opacity: 1;
}

@media screen and (min-width: 40em) {

	.cart .heading {
		font-size: 3rem;
	}

	.cart .content {
		padding: 0 5%;
	}

	.cart .cart-content img {
		border: .25rem solid #fff;
		margin-bottom: 0;
	}

	.cart .cart-checkout {
		margin: 0;
	}

}

@media screen and (min-width: 64em) {

	.cart .content {
		padding: 0;
	}

}

/* ORDER PAGE */

.order main {
	padding: 3rem 5%;
	background-color: #f6f6f6;
	font-family: Lato;
}

.order main h1 {
	padding-bottom: 1rem;
	font-family: Ubuntu;
	color: #5d576b;
	font-weight: 900;
	font-size: 2rem;
}

.order main .place-order {
	padding-top: 2rem;
}

.order main .button {
	font-family: Lato;
	background-color: #5d576b;
	width: 100%;
}

.order main .button.disabled {
	background-color: #5d576b;
	opacity: 1;
}

.order main .button.disabled:hover {
	background-color: #5d576b;
	opacity: 1;
}

.order main .button:hover {
	background-color: #99e1d9;
	transition: .25s;
}

@media screen and (min-width: 40em) {
	
	.order main h1 {
		font-size: 3rem;
	}

}

/* CONFORMATION PAGE */

.confirmation main {
	padding: 20% 0;
	position: relative;
}

.confirmation .heading {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 7.5%;
	font-family: 'Permanent Marker';
	color: #99e1d9;
	font-size: 9vw;
	line-height: 1.15;
	border-right: 1px dashed #ccc;
	padding: 3% 6% 3% 0;
	text-align: left;
	width: 42.5%;
}

.confirmation .sub-heading {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	right: 7.5%;
	font-size: 2vw;
	text-align: right;
	font-family: Lato;
	color: #2d2d2d;
	width: 40%;
}

.confirmation .sub-heading .order-number {
	font-weight: 900;
	color: #5d576b;
	font-size: 2.5vw;
	font-family: Ubuntu;
	line-height: 2;
}

.confirmation .sub-heading .print {
	font-size: 1.5vw;
}

.confirmation .sub-heading .print a {
	text-decoration: none;
	color: #cbcbcb; 
}

.confirmation .sub-heading .print a:hover {
	text-decoration: underline;
}

.confirmation aside {
	background-color: #5d576b;
	padding: 4rem 5%;
}

.confirmation aside h1 {
	font-family: Ubuntu;
	font-weight: 700;
	font-size: 2rem;
	padding-bottom: 2rem;
	color: #fff;
}

.confirmation aside .panel {
	margin: 0 0 2rem 0;
	padding: .5rem;
	background-color: #fff;
}

.confirmation aside .container {
  	position: relative;
}

.confirmation aside .overlay {
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 100%;
  	width: 100%;
  	opacity: 0;
  	transition: .25s ease;
  	background-color: rgba(0, 0, 0, .4);
}

.confirmation aside .container:hover .overlay {
  	opacity: 1;
}

.confirmation aside .overlay-text p {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	font-family: Lato;
  	color: #fff;
  	font-size: 1.75rem;
  	text-align: center;
}

.confirmation aside .overlay-text p span {
	padding-left: .6rem;
}

@media screen and (min-width: 40em) {

	.confirmation aside h1 {
		font-size: 2.5rem;
	}

	.confirmation aside .panel {
		margin: 0;
	}

}

/* FOOTER */

footer {
	background-color: #2d2d2d;
	color: #fff;
	padding: 3rem 5%;
	font-family: Lato;
}

footer a {
	color: #fff;
}

footer a:hover {
	color: #5d576b;
	transition: .25s;
}

footer .copyright {
	font-size: .9rem;
}

footer .links {
	display: none;
}

footer ul {
	list-style-type: none;
	margin: 0;
	line-height: 1.5;
}

footer .right li {
	margin-left: 1rem;
}

footer ul li a 	{
	font-size: .75rem;
}

footer .description {
	display: none;
}

footer .description p {
	line-height: 1.8;
}

footer .social ul li {
	font-size: 1.5rem;
}

footer .fa {
	color: #fff;
	font-size: 1rem;
	padding-bottom: 1rem;
}

footer i:hover {
	color: #5d576b;
	transition: .25s; 
}

@media screen and (min-width: 40em) {

	footer .copyright {
		font-size: .9rem;
	}

	footer ul {
		line-height: 2;
	}

	footer ul li a {
		font-size: .9rem;
	}

	footer .links {
		display: block;
	}

	footer .fa {
		font-size: 1.25rem;
	}

}

@media screen and (min-width: 64em) {

	footer ul li a {
		font-size: .9rem;
	}

	footer .description {
		display: block;
	}

	footer .description p {
		font-size: .9rem
	}

	footer .fa {
		font-size: 1.5rem;
	}

}


